.post{
    background-color: white;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    text-align: left;
    border: 1px solid black;
    box-shadow: 2px 2px 5px rgb(105, 105, 105);
}
.comment{
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    padding: 10px;
    background-color: rgb(235, 235, 235);
}
.date{
    font-size: 12px;
}
.likebutton{
    width: 30px;
    height: 30px;
    text-align: right;
    align-content: flex-end;
    float: right;
    cursor: pointer;

}
.fullName{
    font-weight: bold;
}
.tip{
    white-space: pre-line; 
}
.header{
    display: flex;
    justify-content: space-between;

}
