<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
</head>
<body>
    <div class="logincontainer"><img width="500px" src="assets/images/orangelogoshrunk.png"></div>
    <div class="title-container">
        <h1>Forgot Password?</h1>
    </div>
    <div class="form-container">
        <div id="message">
            <p>{{_message}}</p>
        </div>
        <div>
            <div><p>Enter your email</p><hr></div>
            <input [(ngModel)]="_email" type="email" placeholder="email">
            <div><button class="btn btn-outline-dark" id="pass-btn" (click)="sendEmail()">Reset</button></div><hr>
        </div>
        <div [style.display]="_enterResetDisplay">
            <p>Enter password from email</p>
            <input [(ngModel)]="_token" type="text" placeholder="reset phrase">
            <button (click)="compareToken()">Submit</button><hr>
        </div>
        <div [style.display]="_enterNewDisplay">
            <p>Enter new password</p>
            <input [(ngModel)]="_newPassword" type="text" placeholder="new password">
            <button (click)="resetPass()">Submit</button><hr>
        </div>
        <button class="btn btn-outline-dark" id="pass-btn" routerLink="">Back to login</button>
    </div>
</body>
</html>