
<div class=landing>
    <div class="logincontainer"><img width="500px" src="assets/images/orangelogoshrunk.png"></div>

    <div *ngIf="isLoggingIn">
        <app-login (toggle)="toggleForm()"></app-login>
    </div>
    <div *ngIf="!isLoggingIn">
        <app-register (toggle)="toggleForm()"></app-register>
    </div>


</div>
