<nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="/assets/images/orangelogoicon.png" height="35" class="d-inline-block align-top">
        FireBook
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/profile">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
    <!-- <button class="btn btn-primary">Profile</button> -->

    <!-- <a class="navbar-brand" routerLink="/userprofile">
     <img src={{user.url}} class="profile-pic">
    </a> -->
    <a class="navbar-brand" routerLink="/userprofile/{{user.id}}">
      {{_username}}
      <img src="{{user.url}}" class="profile-pic">
    </a>
    <button class="btn btn-danger outline" (click)="logout()">Logout</button>
  </nav>
