<!-- <textarea class="newpost" type="text" [(ngModel)]="newPostBody" placeholder="What's on your mind?"> </textarea><button (click)="submitPost()">Submit</button> -->

<div class="newpostbg">
        <textarea class="newpost" placeholder="What's on your mind?" [(ngModel)]="newPostBody" [ngModelOptions]="{standalone: true}"></textarea>
        <div class="input">
                <button class="btn btn-outline-dark" id="sub-btn" (click)="submitPost()">Submit</button>
                <input id="sub-btn"
                style="display: none"
                type="file"
                (change)="onFileChanged($event)"
                #imageInput>
        <img style="width:30px" (click) = "imageInput.click()" src="assets/images/imageupload.png"></div>

        <div class="imageContainer" *ngFor="let imageUrl of imageUrls">
                <img style="width:100%" src={{imageUrl}} alt="">
        </div>
</div>

