 /* .title-container {
    text-align: center;
    margin: auto;
    margin-bottom: 0px; 
    width: fit-content;
} */

.userprofile-container {
    text-align: left;
    border: 2px solid black;
    padding: 10px;
    margin: auto;
    box-shadow: 3px 3px 8px rgb(63, 63, 63);
    background-color: white;
    left: 30px;
    top: 100px;
}


.profile-pic {
    width: 150px;
    border-radius: 20px;
    border: 1px solid black;
} 
.main{
    display: flex;
    justify-content: space-around;
}
.userfeed{
    width: 40%;
}
.friendsList{
    width: 15%;
}
