
    <!-- <app-navbar></app-navbar>


    <div>
        <app-userinfo [userId]="userId"></app-userinfo>
        <div *ngIf="isMyProfile">
            <div class="userprofile-container" [style.display]="_display">
                <h3>Edit Profile</h3><br>
                <input type="text" [(ngModel)]="_firstName" placeholder="First Name"><br><hr>
                <input type="text" [(ngModel)]="_lastName" placeholder="Last Name"><br><hr>
                <input type="email" [(ngModel)]="_email" placeholder="Email"><br><hr>
                <a>Profile Picture     </a><input id="sub-btn"
                        style="display: none"
                        type="file"
                        (change)="onFileChanged($event)"
                        #imageInput>
                <img style="width:30px" (click) = "imageInput.click()" src="assets/images/imageupload.png"><hr>
                <button (click)="saveProfile()" class="btn btn-primary">Save</button><br>
            </div>
        </div>
    </div>

    <div class="main">
        <div class=userfeed>
            <app-userfeed [userId]="userId"></app-userfeed>
        </div>
    </div>

    <div class=friendsList>
        <app-friendslist></app-friendslist>
    </div> -->

    <app-navbar></app-navbar>
    <div class=main>
        <div><app-userinfo [userId]="userId"></app-userinfo>
            <!-- <div class="title-container"><br>
                <h1>{{profileUser}}</h1><hr>
                <img src="{{_imageUrl}}" class="profile-pic"><hr>
            </div> -->
            <div *ngIf="isMyProfile" class="userprofile-container" [style.display]="_display">
                <h3>Edit Profile</h3><br>
                <input type="text" [(ngModel)]="_firstName" placeholder="First Name"><br>
                <input type="text" [(ngModel)]="_lastName" placeholder="Last Name"><br>
                <input type="email" [(ngModel)]="_email" placeholder="Email"><br>
                <a>Profile Picture     </a><input id="sub-btn"
                        style="display: none"
                        type="file"
                        (change)="onFileChanged($event)"
                        #imageInput>
                <img style="width:30px" (click) = "imageInput.click()" src="assets/images/imageupload.png"><hr>
                <button (click) ="saveProfile()" class="btn btn-primary">Save</button><br>
            </div>
        </div>
        <div class=userfeed>
            <app-userfeed [userId]="userId"></app-userfeed>
        </div>
        <div class=friendsList>
            <app-friendslist></app-friendslist>
        </div>
    </div>