
<div class="userfeed" *ngFor="let post of postList">
    <app-post [post]='post' (updateParent)="ngOnChanges()"></app-post>
</div>
<button class="btn btn-dark" (click)="increase()">Load More</button>