
    <div class="register-container">
        <input type="text" [(ngModel)]="_username" placeholder="Enter a username"><br><hr>
        <input type="password" [(ngModel)]="_password" placeholder="Enter a password"><br><hr>
        <input type="text" [(ngModel)]="_firstName" placeholder="Enter your first name"><br><hr>
        <input type="text" [(ngModel)]="_lastName" placeholder="Enter your last name"><br><hr>
        <input type="email" [(ngModel)]="_email" placeholder="Enter your email"><br><hr>
        <button class="btn btn-outline-dark" id="reg-btn" (click)="registerAccount()">Register</button>
        <button class="btn btn-outline-dark" id="reg-btn" (click)="toggleForm()">Back to login</button>
    </div>
