.title-container {
    text-align: center;
    margin: auto;
    margin-bottom: 0px; 
    width: fit-content;
}

.register-container {
    text-align: center;
    border: 2px solid black;
    padding: 10px;
    width: fit-content;
    margin: auto;
    box-shadow: 3px 3px 8px rgb(145, 145, 145);
    background-color: white;
    border-radius: 5px;
}
body {
    height: 100%;
}

#reg-btn {
    margin: 1px;
}