<div class="comment">
    <div class="header">
        <a routerLink='/userprofile/{{comment.userId}}'>
            <div class="name"><img class=profilepic src={{comment.url}} alt=""> {{comment.firstName}} {{comment.lastName}}</div>
        </a>
        <div class="date">{{comment.date}}</div>
    </div>
    <br>
    <div class="body">{{comment.body}}</div>
</div>
